/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margins and padding from everything. */
* {
  margin: 0;
  padding: 0;
}

/* 3. Allow percentage-based heights in the application */
html, body {
  height: 100%;
}

/* 4. Add accessible line-height and improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, sans-serif;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.layout-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.btn {
  width: 150px;
  padding: 10px;
  margin-top: 20px;
}

.container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}

.row {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.column {
    flex: 1;
    opacity: 0.0;
    /* border: 1px dotted red;  initial development*/
}
